<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BackRoomScene.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>320</real>
			<key>height</key>
			<real>460</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>320</real>
			<key>originalHeight</key>
			<real>460</real>
		</dict>
		
		<key>backRoomClosedDoor.png</key>
		<dict>
			<key>x</key>
			<real>800</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>179</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>78</real>
			<key>originalHeight</key>
			<real>179</real>
		</dict>
		
		<key>bell2.png</key>
		<dict>
			<key>x</key>
			<real>852</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>31</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>38</real>
			<key>originalHeight</key>
			<real>31</real>
		</dict>
		
		<key>billiardScene.png</key>
		<dict>
			<key>x</key>
			<real>324</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>320</real>
			<key>height</key>
			<real>460</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>320</real>
			<key>originalHeight</key>
			<real>460</real>
		</dict>
		
		<key>blackNote.png</key>
		<dict>
			<key>x</key>
			<real>776</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>36</real>
			<key>height</key>
			<real>37</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>36</real>
			<key>originalHeight</key>
			<real>37</real>
		</dict>
		
		<key>blackPull.png</key>
		<dict>
			<key>x</key>
			<real>968</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>397</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>397</real>
		</dict>
		
		<key>clock.png</key>
		<dict>
			<key>x</key>
			<real>714</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>60</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>60</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
		<key>clockBigHand.png</key>
		<dict>
			<key>x</key>
			<real>900</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>26</real>
			<key>height</key>
			<real>6</real>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>60</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
		<key>clockSmallHand.png</key>
		<dict>
			<key>x</key>
			<real>892</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>6</real>
			<key>height</key>
			<real>18</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>6</real>
			<key>originalWidth</key>
			<real>60</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
		<key>closedDoor.png</key>
		<dict>
			<key>x</key>
			<real>880</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>177</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>78</real>
			<key>originalHeight</key>
			<real>177</real>
		</dict>
		
		<key>doorOpeningIn.png</key>
		<dict>
			<key>x</key>
			<real>408</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>68</real>
			<key>height</key>
			<real>203</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>68</real>
			<key>originalHeight</key>
			<real>203</real>
		</dict>
		
		<key>greenPull.png</key>
		<dict>
			<key>x</key>
			<real>56</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>397</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>397</real>
		</dict>
		
		<key>iCue.png</key>
		<dict>
			<key>x</key>
			<real>396</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>10</real>
			<key>height</key>
			<real>256</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>10</real>
			<key>originalHeight</key>
			<real>256</real>
		</dict>
		
		<key>plan.png</key>
		<dict>
			<key>x</key>
			<real>218</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>176</real>
			<key>height</key>
			<real>288</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>176</real>
			<key>originalHeight</key>
			<real>288</real>
		</dict>
		
		<key>planBilliardsNormal.png</key>
		<dict>
			<key>x</key>
			<real>180</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>176</real>
			<key>height</key>
			<real>145</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>176</real>
			<key>originalHeight</key>
			<real>145</real>
		</dict>
		
		<key>planBilliardsOver.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>176</real>
			<key>height</key>
			<real>145</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>176</real>
			<key>originalHeight</key>
			<real>145</real>
		</dict>
		
		<key>planStudyNormal.png</key>
		<dict>
			<key>x</key>
			<real>358</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>176</real>
			<key>height</key>
			<real>145</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>176</real>
			<key>originalHeight</key>
			<real>145</real>
		</dict>
		
		<key>planStudyOver.png</key>
		<dict>
			<key>x</key>
			<real>536</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>176</real>
			<key>height</key>
			<real>145</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>176</real>
			<key>originalHeight</key>
			<real>145</real>
		</dict>
		
		<key>pullPull.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>397</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>397</real>
		</dict>
		
		<key>redPull.png</key>
		<dict>
			<key>x</key>
			<real>110</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>397</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>397</real>
		</dict>
		
		<key>startupScene.png</key>
		<dict>
			<key>x</key>
			<real>646</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>320</real>
			<key>height</key>
			<real>460</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>320</real>
			<key>originalHeight</key>
			<real>460</real>
		</dict>
		
		<key>tableTop.png</key>
		<dict>
			<key>x</key>
			<real>478</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>320</real>
			<key>height</key>
			<real>203</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>320</real>
			<key>originalHeight</key>
			<real>203</real>
		</dict>
		
		<key>whiteNote.png</key>
		<dict>
			<key>x</key>
			<real>814</real>
			<key>y</key>
			<real>863</real>
			<key>width</key>
			<real>36</real>
			<key>height</key>
			<real>37</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>36</real>
			<key>originalHeight</key>
			<real>37</real>
		</dict>
		
		<key>whitePull.png</key>
		<dict>
			<key>x</key>
			<real>164</real>
			<key>y</key>
			<real>464</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>397</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>397</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>